h1,h2,p{
 color: black;
 display: flex;
  flex-direction: column;
  align-items: center;
}

.pic{
  height: 350px;
  width: 350px;
  border-radius: 25%;
  margin: 7px;
  border-style: solid;
  border-color: rgb(219, 154, 219);
}

.app{
  display: flex;
  flex-direction: column;
}

header{
  background-color: #EAD6FF;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.products{
  background-color: rgb(247, 237, 248);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}

#store-logo{
  height: 30vw;
}

#links{
  display: flex;
  justify-content: center;
  background-color: rgb(247, 237, 248);
}