h1,h2,p{
 color: black;
 display: flex;
  flex-direction: column;
  align-items: center;
}

.pic{
  height: 200px;
  width: 300px;
  border-radius: 25%;
}

.app{
  display: flex;
  flex-direction: column;
}

header{
  background-color: #EAD6FF;
  display: flex;
  justify-content: center;
}

.products{
  background-color: rgb(247, 237, 248);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#store-logo{
  /* width: 30vw; */
  height: 30vw;
}